body {background-color: #BAD5F1;}
h1 {text-align: center;text-decoration: underline;font-family: "Brush Script MT";font-size: 45px;color: #003366;}
p {text-align: center;font-family: "Calibri";font-size: 23px;font-weight: bold;font-style: italic;color: #003366;}